@charset "utf-8";
/* Main CSS */
body  {
  background-color: grey;
	font-family: "Times New Roman";
	font-size: 20px;
	cursor: crosshair;
  color: white;
}

.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

#giraffeImage	{
	width: 50%;
  height: auto;
}

